<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.InformationMapper" >
    <select id="count" resultType="java.lang.Integer">
        select count(*) from information
        <!--<where>
            <if test="information!=null">
                <if test="information.title!=null and information.title!=''">
                    title like "%"#{information.title}"%"
                </if>
                <if test="information.type!=''">
                    type = #{information.type}
                </if>
            </if>
        </where>-->
    </select>

    <sql id="sql">
        <where>
            <if test="information!=null">
                <if test="information.title!=null and information.title!=''">
                     title like "%"#{information.title}"%"
                </if>
                <!--<if test="information.type!=0">
                    and type = #{information.type}
                </if>-->
            </if>
        </where>
    </sql>
    
    <select id="selectInformation" parameterType="map" resultType="map">
        select * from information
        <include refid="sql"></include>
         limit #{page},#{rows}
    </select>
    
    <select id="toupd" resultType="com.LeXiang.education.sysAdmin.common.model.Information">
        select * from information where id = #{id}
    </select>

    <insert id="addInformation" parameterType="com.LeXiang.education.sysAdmin.common.model.Information">
        insert into information(no,title,type,createdate,source,recommed,content,img,orderid,count) values (#{no},#{title},#{type},#{createdate},#{source},#{recommed},#{content},#{img},#{orderid},#{count})
    </insert>

    <delete id="delById" parameterType="java.lang.Integer">
        delete from information where id = #{id}
    </delete>

    <update id="updInformation" parameterType="com.LeXiang.education.sysAdmin.common.model.Information" >
        update information set no = #{no}, title = #{title}, type = #{type}, createdate = #{createdate}, source = #{source}, recommed = #{recommed}, content = #{content}, img = #{img},orderid = #{orderid},count = #{count} where id = #{id}
    </update>

</mapper>