<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.LeXiang.mapper.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.LeXiang.education.order.common.model.Organization" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orgname" property="orgname" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="legalperson" property="legalperson" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="bank" property="bank" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
    <result column="update" property="update" jdbcType="DATE" />
    <result column="status" property="status" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orgname, intro, legalperson, img, bank, phone, update, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from organization
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="queryOrg" resultMap="BaseResultMap" >
    select *
    from organization
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.LeXiang.education.order.common.model.Organization" >
    insert into organization (id, orgname, intro, 
      legalperson, img, bank, 
      phone, update, status)
    values (#{id,jdbcType=BIGINT}, #{orgname,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{legalperson,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{bank,jdbcType=BIGINT}, 
      #{phone,jdbcType=BIGINT}, #{update,jdbcType=DATE}, #{status,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.LeXiang.education.order.common.model.Organization" >
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgname != null" >
        orgname,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="legalperson != null" >
        legalperson,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="update != null" >
        update,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgname != null" >
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="legalperson != null" >
        #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="update != null" >
        #{update,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.LeXiang.education.order.common.model.Organization" >
    update organization
    <set >
      <if test="orgname != null" >
        orgname = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="legalperson != null" >
        legalperson = #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="update != null" >
        update = #{update,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.LeXiang.education.order.common.model.Organization" >
    update organization
    set orgname = #{orgname,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      legalperson = #{legalperson,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=BIGINT},
      phone = #{phone,jdbcType=BIGINT},
      update = #{update,jdbcType=DATE},
      status = #{status,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>