<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.LeXiang.mapper.UserMapper" >



  <insert id="insert" parameterType="com.LeXiang.education.user.common.model.User" >
    insert into user (id, age, name

      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{encodedPassword,jdbcType=VARCHAR}
      )
  </insert>

  <select id="getUserName" parameterType="com.LeXiang.education.user.common.model.User"  resultType="com.LeXiang.education.user.common.model.User">
        select * from user  where username=#{username}
  </select>
  <select id="queryShouye" resultType="com.LeXiang.education.user.common.model.Shop">
        select * from t_shangpin
    </select>
  <select id="queryPlay" resultType="com.LeXiang.education.user.common.model.PlayClassgtj">
        select * from PLAYCLASS
    </select>
</mapper>